/* -- 전체 설정 -- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
   
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-body{
    display: flex;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.text-body-header{
    display: flex;
    width: 100%;
    position: fixed;
    height: 44px;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}

.body-header-link-naver{
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.body-header-link-naver img{
    margin-top: 3px;
}

.link-naver{
    padding: 12px 2px 18px 25px;
    margin-right: 2px;
}

.link-index{
    display: flex;
    width: 110px;
    padding: 12px 0px;
    font-size: 15px;
    font-weight: 500;
}

.body-header-save{
    display: flex;
    margin-right: 40px;
    width: 70px;
    align-items: center;
}

.body-header-save-btn{
    border: 1px solid #999999;
    color: #555555;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border: none;
    background-color: white;
    font-size: 12px;
    width: 100%;
    height: 37px;
    justify-content: center;
    align-items: center;
}
.body-header-save i{
    color: rgb(49, 216, 27);
    margin-right: 5px;
}
.profile-header {
   display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 20px;
    align-items: center;

}

.profile-img {
    
    margin-right: 12px;
    width: 60px;
    height:60px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 2px 6px 0 rgba(69, 70, 71, 0.2);
}
.profile-img img{
    width: 100%;
    height: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info-top {
  display: flex;
    margin-bottom: 20px;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}
.profile-info-top button{
    width:70px;
   margin-left : 0;
    border: none;
}

.profile-username {
    font-size: 1.5em;
    font-weight: 600;
}

.profile-edit-btn {
    margin-left: 20px;
    padding: 5px 9px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 94px;
    height: 30px;
    background-color: #e5f8fb;
    font-weight: 500;
    cursor: pointer;
    color: #2d8dee;
}

.profile-info-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
   
}
.profile-info-middle button{
    border: none;
    background-color: white;
    font-weight: 600;
    
}
.profile-info-middle-item {
    margin-right: 40px;
    font-size: 1.2em;
    font-weight: 300;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-info-middle-item span {
    font-size: 0.85em;
    font-weight: 500;
}

.profile-info-bottom pre{
    font-size: 1.2em;
}


.container {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.board-box {
  width: 100%;
  max-width: 720px;
}

.main-category {
  display: flex;
  justify-content: space-between;
  height: 66px;
  margin-top: 10px;
  padding-left: 10px;
  background-color:white ;
}
.main-category-left {
  display: flex;
  height: 100%;
}

.main-category-btnbox {
  padding-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-category-first-btn {
  margin-left: 10px;
}

.main-category-btns {
  overflow: visible;
  padding: 10px 13px;
}

.main-category-btnbox button {
  font-size: 16px;
  font-weight: 400;
  border: 0;
  color: #424242;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.main-category-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px 12px 20px;
}

.main-category-right div {
  width: 2px;
  height: 25px;
  background-color: #e2e5e8;
  margin-right: 5px;
}

.main-category-right button {
  outline: none;
  border: 0;
  margin-left: 5px;
  color: #7f8daa;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.main-category-right button i {
  margin-right: 3px;
}

.sub-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 2px;
    background-color: white;
    align-content: center;
}

.sub-category div {
  margin-left: 10px;
}

.sub-category button {
  outline: none;
  border: 1px solid rgba(145, 154, 172, 0.2);
  color: #424242;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0px 13px;
  line-height: 1.8rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  width: 70px;

}
.board-list{
    margin-top: 0;
    background-color: white;
}
.board-list-item {
  width: 720px;
  background-color: white;
  padding: 20px 20px 0 20px;
}

.board-list-item-box{
    border: 1px solid #dbdbdb;
    border-radius: 11px;
    box-shadow: 0 2px 3px 0 rgba(41, 41, 41, 0.1);
    padding : 22px 20px;

    
}
.board-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.board-profile-btn {
    text-align: left;
    outline: none;
    border: 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.board-text{
    display: flex;
    align-items: center;
}
.board-profile-username {
  font-size: 20px;
  font-weight: 500;
}

.board-place{
  font-size: 14px;
  color: #706f6f;
  margin-left: 10px;
  
  
}
.board-img-content button{
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 5px;
}
.board-img-content img{
   width: 100%;
   border-radius: 5px;
}
.board-item-text {
  font-size: 16px;
  font-weight: 300;
  color: #706f6f;
}
footer{
	padding-top: 20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;

}
.copyright-wrap img{
    width: 465px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.footer-logo a{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    text-decoration-line: none;
    color: #9ba1a3;
    font-size: 13px;
}
.footer-logo span:nth-child(1){
    padding-left: 10px;
    border-left: 1px solid #c2cbce;
}


