<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.placenote.domain.user.UserRepository">
	<select id="getUserByUsername" parameterType="String" resultType="com.springboot.placenote.domain.user.User">
		SELECT
			*
		FROM
			user_mst
		WHERE
			username = #{username};
	</select>
	<select id="getUserByOAuth2Username" parameterType="String" resultType="com.springboot.placenote.domain.user.User">
		SELECT
			*
		FROM
			user_mst
		WHERE
			oauth2_username = #{oauth2_username};
	</select>
	
	<select id="checkUsernameByUsername" parameterType="String" resultType="Integer">
		SELECT
			COUNT(username)
		FROM
			user_mst
		WHERE
			username = #{username};
	</select>
	
	<select id="getUserDtlById" parameterType="Integer" resultType="com.springboot.placenote.domain.user.UserDtl">
		SELECT
			*
		FROM
			user_dtl
		WHERE
			id = #{id};
	</select>
	
	<insert id="insertUser"  parameterType="com.springboot.placenote.domain.user.User">
		INSERT INTO
			user_mst
		VALUES(
			0,
			#{username},
			#{oauth2_username},
			#{password},
			#{provider},
			#{name},
			#{phone},
			#{email},
			#{gender},
			#{role},
			NOW(),
			NOW()
		);
	</insert>
	<update id="updateUserById" parameterType="com.springboot.placenote.domain.user.User">
		UPDATE
			user_mst
		SET
			username = #{username},
			password = #{password},
			phone = #{phone},
			email = #{email},
			
			
			update_date = now()
		WHERE
			id = #{id};
	</update>
	<update id="updateUserDtlById" parameterType="com.springboot.placenote.domain.user.UserDtl">
		UPDATE
			user_dtl
		SET
			profile_img = #{profile_img},
			
			update_date = now()
		WHERE
			id = #{id};
	</update>
	<update id="updatePasswordById" parameterType="com.springboot.placenote.domain.user.User">
		UPDATE
			user_mst
		SET 
			password = #{password},
			
			update_date = now()
		WHERE
			id = #{id};
	</update>
	
</mapper>