.container {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.board-box {
  width: 100%;
  max-width: 720px;
}

.main-category {
  display: flex;
  justify-content: space-between;
  height: 66px;
}

.main-category-left {
  display: flex;
  height: 100%;
}

.main-category-btnbox {
  padding-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-category-first-btn {
  margin-left: 10px;
}

.main-category-btns {
  overflow: visible;
  padding: 10px 13px;
  box-shadow: 0 2px 6px 0 rgb(199, 204, 208, 0.35);
}

.main-category-btnbox button {
  font-size: 15px;
  font-weight: 400;
  border: 0;
  color: #424242;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.main-category-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px 12px 20px;
}

.main-category-right div {
  width: 2px;
  height: 25px;
  background-color: #e2e5e8;
  margin-right: 5px;
}

.main-category-right button {
  outline: none;
  border: 0;
  margin-left: 5px;
  color: #7f8daa;
  background-color: #f9f9f9;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.main-category-right button i {
  margin-right: 3px;
}

.sub-category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 2px;
  background-color: white;
}

.sub-category div {
  margin-right: 10px;
}

.sub-category button {
  outline: none;
  border: 1px solid rgba(145, 154, 172, 0.2);
  color: #424242;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0px 13px;
  line-height: 1.7rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  height: 36px;
}

.board-list-item {
  width: 720px;
  background-color: white;
  padding: 26px 20px 28px 20px;
}

.board-list-item:not(:first-child) {
  margin-top: 10px;
}

.board-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-profile-btn {
  margin: -10px;
  padding: 10px;
  text-align: left;
  outline: none;
  border: 0;
  background-color: #ffffff;
  width: 100%;
  display: flex;
}

.board-profile-img {
  margin-right: 8px;
}

.board-profile-img img {
  max-width: 42px;
  border-radius: 50%;
  height: 42px;
  border: 2.5px solid rgb(248, 248, 248);
}

.board-profile-username {
  font-size: 16px;
  font-weight: 700;
}

.board-update-date {
  font-size: 0.75rem;
  font-weight: 10;
}

.board-follow-btn {
  display: flex;
  align-items: center;
}

.board-follow-btn button {
  width: 70px;
  height: 30px;
  font-size: 13px;
  color: #2d8dee;
  background-color: #f3f9fe;
  font-weight: 400;
  border: 0;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.board-follow-btn button i {
  margin-right: 5px;
}

.board-item-img {
  margin-top: 10px;
}

.board-item-img img {
  width: 680px;
  border-radius: 8px;
}

.board-item-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.board-item-comment {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.board-item-comment input {
  width: 100%;
  padding: 8px;
  outline: none;
  border: 0;
  background-color: rgb(231, 231, 231, 0.3);
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgb(199, 204, 208, 0.35);
}

.board-item-comment button {
  width: 46px;
  margin-left: 10px;
  background-color: #06b495;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 6px 0 rgb(199, 204, 208, 0.35);
}
