header {
	background-color: #06b495;
}

.top-box {
	display: flex;
	height: 53px;
	align-items: center;
	border-bottom: 1.3px solid rgb(66, 66, 66, 0.1);
	padding: 8px 18px 8px 15px;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 5px;
}

.naver-logo {
	height: 22px;
}

.profile-info-title-box {
	display: flex;
	justify-content: center;
}

.profile-info-title {
	display: flex;
	padding-top: 20px;
	width: 350px;
}

.profile-img-box {
	width: 64px;
}

.profile-img-box img {
	max-width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	background-color: white;
}
.profile-info-title-box{
  display: flex;
  justify-content: center;
  


}
.profile-info-title{
  display: flex;
  padding-top: 20px;
  width: 350px;
  

}
.profile-img-box{
  width: 64px;
}
.profile-img-box img{
max-width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}
.top-title {
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 3px;
	padding: 11px 2px 11px 2px;
	font-size: 16px;
	color: #ffffffe6;
	font-weight: 400;
}

.header-middle {
<<<<<<< HEAD
	display: flex;
	justify-content: center;
	align-items: center;
	height: 146px;
	margin-bottom: 10px;
=======
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
  margin-bottom: 10px;
>>>>>>> Dg
}

.header-profile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;
	width: 375px;
	height: 117px;
}

.profile-login {
	width: 186.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: 0;
	cursor: pointer;
	background-color: #06b495;
}

.profile-login div {
<<<<<<< HEAD
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	font-size: 17px;
	color: #ffffffe6;
=======
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    font-size: 17px;
    color: #ffffffe6;

>>>>>>> Dg
}

.profile-login img {
	max-width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
}
<<<<<<< HEAD

.upload-board-btn {
	display: flex;
	justify-content: center;
}

.upload-board-btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 38px;
	outline: none;
	border: 0;
	border-radius: 10px;
	background-color: #0cc5a4;
	font-size: 15px;
	font-weight: 500;
	color: #ffffffe6;
	box-shadow: 0 2px 6px 0 rgba(63, 64, 65, 0.1);
	cursor: pointer;
	width: 400px;
=======
.upload-board-btn{
  display: flex;
  justify-content: center;
}
.upload-board-btn button {
  width: 400px;
  height: 38px;
  outline: none;
  border: 0;
  border-radius: 10px;
  background-color: #0cc5a4;
  font-size: 15px;
  font-weight: 500;
  color: #ffffffe6;
  box-shadow: 0 2px 6px 0 rgba(63, 64, 65, 0.1);
  cursor: pointer;
>>>>>>> Dg
}

.category-box {
	height: 51px;
}

.category-menu {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-menu li {
	margin: 0 15px;
}

.category-menu a {
	text-decoration: none;
	color: #ffffffb3;
	font-size: 17px;
	padding: 14px 5px;
}
<<<<<<< HEAD

.profile-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.profile-info-top {
	padding-left: 40px;
	align-self: center;
	color: white;
}

.profile-info-top h1 {
	font-size: 18px;
}

.profile-info-middle {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 10px;
	align-items: center;
}

.profile-info-middle button {
	border: none;
	background-color: #06b495;
	font-weight: 600;
	color: white;
}

.profile-info-middle-item {
	margin-right: 40px;
	font-size: 13px;
	font-weight: 300;
	color: #99ecdd;
}

.cursor-pointer {
	cursor: pointer;
}

.profile-info-middle-item span {
	font-size: 0.85em;
	font-weight: 500;
=======
.profile-info{
	display: flex;
	align-items : center;
	justify-content : center;
  margin-left: 10px;
 
}
.profile-info-top{
  padding-left: 40px;
  color: white;
}
.profile-info-top h1{
  font-size: 18px;
}
.profile-info-middle {
      display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
   
}
.profile-info-middle button{
    border: none;
    background-color: #06b495;
    font-weight: 600;
    color: white;
    
}
.profile-info-middle-item {
    margin-right: 40px;
    font-size: 13px;
    font-weight: 300;
    color: #99ecdd;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-info-middle-item span {
    font-size: 0.85em;
    font-weight: 500;
>>>>>>> Dg
}